<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.WAKE_LOCK" /><!-- 화면 안꺼지게 하기 -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" /><!-- Data Layble 사용을 위한 백그라운드 권한 요청 -->
    <uses-permission android:name="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"/><!--백그라운드 작업 예약 권한 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 권한 요청 -->



    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.Front"
    android:name=".MyApplication">

    <activity
        android:name=".Login.LoginActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:host="oauth"
                android:scheme="${KAKAO_NATIVE_API_KEY}"/>
        </intent-filter>
    </activity>

    <activity
        android:name=".MainActivity"
        android:exported="false">
    </activity>
</application>

</manifest>