<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 필요한 권한 -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" /><!-- 백그라운드 동기화 권한 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Front"
        android:name=".MyApplication">

        <activity
            android:name=".Login.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />

                <!-- https://quessr.tistory.com/84 를 참고하여 작성한,
                카카오톡 로그인 구현을 위한 코드-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth"
                    android:scheme="${kakao_native_api_key}" />
                <!-- api 바로 들어갔는데 이거 수정해야함 -->
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>