<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.front">

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 화면 안 꺼지게 하기 -->
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" /> <!-- Data 레이블 사용을 위한 background 권한 요청 -->
    <uses-permission android:name="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE" /> <!-- background 작업 예약 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Front"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".login.SplashActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" /> &lt;!&ndash; 이 Activity 가 최초 activity 이며, application 시작 관리자 에 목록 으로 게재됨 &ndash;&gt;-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" /> &lt;!&ndash; 데이터 보여 주는 기능일 시에 선언, activity 가 사용자 에게 표시할 수 있는 어떤 정보를 가지고 있을 때, startActivity()가 있는 intent 에서 사용 &ndash;&gt;-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" /> &lt;!&ndash; 대상 activity 가 web Browser 를 통해 시작 되도록 허용 하고 이미지, 이메일 메시지 등 링크로 참조 data 를 표시 하게 함 &ndash;&gt;-->
<!--                &lt;!&ndash; Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" &ndash;&gt;-->
<!--                <data-->
<!--                    android:host="oauth"-->
<!--                    android:scheme="kakaocf939a3f6eb2a3a0c85cce072098dba2" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /> <!-- 이 Activity 가 최초 activity 이며, application 시작 관리자 에 목록 으로 게재됨 -->
            </intent-filter>
<!--              카카오 인증을 위한 AuthCodeHandlerActivity 설정 -->
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaocf939a3f6eb2a3a0c85cce072098dba2" /> <!-- YOUR_NATIVE_APP_KEY 부분을 native 앱 키로 변경 -->
            </intent-filter>
        </activity>


        <!-- 워치로부터 메시지를 수신하기 위한 서비스 등록 -->
        <service
            android:name=".PhoneMessageListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- Wear OS Message API 액션 -->
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/open_phone_app"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>